<div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <p>Esto es una prueba...</p>
        <!-- PRUEBA DE QUE ESTÁ TODO CONECTADO Y LLEGAN LOS DATOS DE LA BD-->
        <%= contenido %> 
        </h1>
    </div>
</div>



<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>



<!--<textarea id="prueba">-->
    
<!--</textarea>-->

<!--Navigation-->
 <div class="navbar-fixed" role="navigation">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="index.ejs" id="logo-container" class="brand-logo" role="banner">Wheels For Everyone</a>
                <ul class="right hide-on-med-and-down" role="navigation">
                    <li><a href="#intro">Inicio</a></li>
                    <li><a href="#team">Equipo</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="registro.html">Registrarse</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav" role="navigation">
                    <li><a href="#intro">Inicio</a></li>
                    <li><a href="#team">Equipo</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="#work">Registrarse</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner" role="banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>Comparte</span>
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">coche</b>
                <b>moto</b>
                <b>taxi</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy" >
    <div class="container" role="main">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Aplicación que proporciona una <span class="span_h2"> red de transporte  </span>que conecta a <span class="span_h2">pasajeros</span> y <span class="span_h2">conductores</span>. </h2>
            </div>

            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <img id="moto" src="../public/images/icono_moto(1).png" alt="Icono de una moto" />
                    <h5 class="promo-caption">Motos</h5>
                    <p class="light center">Ofertas para compartir moto</p>
                </div>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <a href="coche.html"><img id="coche" src="../public/images/icono_coche(1).png" alt="Icono de una coche" /> </a>
                    <h5 class="promo-caption">Coches</h5>
                    <p class="light center">Ofertas para compartir coche</p>
                </div>
            </div>
            
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <a href="taxi.html"><img id="taxi" src="../public/images/icono_taxi(1).png" alt="Icono de un taxi" />
                    <h5 class="promo-caption">Taxis</h5>
                    <p class="light center">Ofertas para compartir taxi</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<!--<div class="section scrollspy" id="work" role="complementary">-->
<!--    <div class="container">-->
<!--        <h2 class="header text_b">Usuarios de WFE: </h2>-->
<!--        <div class="row">-->
<!--            <div class="col s12 m4 l4">-->
<!--                <div class="card">-->
<!--                    <div class="card-image waves-effect waves-block waves-light">-->
<!--                        <img class="activator" src="img/user.jpg">-->
<!--                    </div>-->
<!--                    <div class="card-content">-->
<!--                        <span class="card-title activator grey-text text-darken-4">Usuario # <i class="mdi-navigation-more-vert right"></i></span>-->
<!--                        <p><a href="#">Usuario #</a></p>-->
<!--                    </div>-->
<!--                    <div class="card-reveal">-->
<!--                        <span class="card-title grey-text text-darken-4">Usuario # <i class="mdi-navigation-close right"></i></span>-->
<!--                        <p>Información genérica sober algunos usuarios que se muestran a modo ilsutrativo.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col s12 m4 l4">-->
<!--                <div class="card">-->
<!--                    <div class="card-image waves-effect waves-block waves-light">-->
<!--                        <img class="activator" src="img/user.jpg">-->
<!--                    </div>-->
<!--                    <div class="card-content">-->
<!--                        <span class="card-title activator grey-text text-darken-4">Usuario # <i class="mdi-navigation-more-vert right"></i></span>-->
<!--                        <p><a href="#">Usuario #</a></p>-->
<!--                    </div>-->
<!--                    <div class="card-reveal">-->
<!--                        <span class="card-title grey-text text-darken-4">Usuario # <i class="mdi-navigation-close right"></i></span>-->
<!--                        <p>Información genérica sober algunos usuarios que se muestran a modo ilsutrativo.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col s12 m4 l4">-->
<!--                <div class="card">-->
<!--                    <div class="card-image waves-effect waves-block waves-light">-->
<!--                        <img class="activator" src="img/user.jpg">-->
<!--                    </div>-->
<!--                    <div class="card-content">-->
<!--                        <span class="card-title activator grey-text text-darken-4">Usuario # <i class="mdi-navigation-more-vert right"></i></span>-->
<!--                        <p><a href="#">Usuario #</a></p>-->
<!--                    </div>-->
<!--                    <div class="card-reveal">-->
<!--                        <span class="card-title grey-text text-darken-4">Usuario # <i class="mdi-navigation-close right"></i></span>-->
<!--                        <p>Información genérica sober algunos usuarios que se muestran a modo ilsutrativo.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col s12 m4 l4">-->
<!--                <div class="card">-->
<!--                    <div class="card-image waves-effect waves-block waves-light">-->
<!--                        <img class="activator" src="img/user.jpg">-->
<!--                    </div>-->
<!--                    <div class="card-content">-->
<!--                        <span class="card-title activator grey-text text-darken-4">Usuario # <i class="mdi-navigation-more-vert right"></i></span>-->
<!--                        <p><a href="#">Usuario #</a></p>-->
<!--                    </div>-->
<!--                    <div class="card-reveal">-->
<!--                        <span class="card-title grey-text text-darken-4">Usuario # <i class="mdi-navigation-close right"></i></span>-->
<!--                        <p>Información genérica sober algunos usuarios que se muestran a modo ilsutrativo.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col s12 m4 l4">-->
<!--                <div class="card">-->
<!--                    <div class="card-image waves-effect waves-block waves-light">-->
<!--                        <img class="activator" src="img/user.jpg">-->
<!--                    </div>-->
<!--                    <div class="card-content">-->
<!--                        <span class="card-title activator grey-text text-darken-4">Usuario # <i class="mdi-navigation-more-vert right"></i></span>-->
<!--                        <p><a href="#">Usuario #</a></p>-->
<!--                    </div>-->
<!--                    <div class="card-reveal">-->
<!--                        <span class="card-title grey-text text-darken-4">Usuario # <i class="mdi-navigation-close right"></i></span>-->
<!--                        <p>Información genérica sober algunos usuarios que se muestran a modo ilsutrativo.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col s12 m4 l4">-->
<!--                <div class="card">-->
<!--                    <div class="card-image waves-effect waves-block waves-light">-->
<!--                        <img class="activator" src="img/user.jpg">-->
<!--                    </div>-->
<!--                    <div class="card-content">-->
<!--                        <span class="card-title activator grey-text text-darken-4">Usuario # <i class="mdi-navigation-more-vert right"></i></span>-->
<!--                        <p><a href="#">Usuario #</a></p>-->
<!--                    </div>-->
<!--                    <div class="card-reveal">-->
<!--                        <span class="card-title grey-text text-darken-4">Usuario # <i class="mdi-navigation-close right"></i></span>-->
<!--                        <p>Información genérica sober algunos usuarios que se muestran a modo ilsutrativo.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="../public/images/carretera2.jpg"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team" role="complementary">
    <div class="container">
        <h2 class="header text_b"> Nuestro equipo </h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="../public/images/avatar1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Mena<br/>
                            <small><em><a class="red-text text-darken-1" href="#">El papi</a></em></small></span>
                            <p>
                                <a class="blue-text text-lighten-2" href="">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="">
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="">
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                                <a class="blue-text text-lighten-2" href="">
                                    <i class="fa fa-linkedin-square"></i>
                                </a>
                            </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="../public/images/avatar2.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Nayra<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Estilista</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="../public/images/avatar3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Yeray <br/>
                            <small><em><a class="red-text text-darken-1" href="#">Norteño</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" action="contact.php" method="post" role="form">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Correo</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                            <label for="icon_prefix2" class="white-text">Mensaje</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Enviar
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">info@wfe.com</h5>
                <ul>
                    <li><a class="white-text" href="">Derechos legales</a></li>
                    <li><a class="white-text" href="">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-behance-square white-text"></i> Behance
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color center">
        <div class="container">
            Derechos reservados a <a class="white-text" href="">Wheels for everyone S.L.</a>.
        </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="../public/min/plugin-min.js"></script>
    <script src="../public/min/custom-min.js"></script>

    </body>
</html>
